<nav class="shape-tools tool-set">

  <button class="tool active" data-tool="rectangle">
    <%- include ../svg/rectangle.ejs %>
  </button>

  <button class="tool" data-tool="circle">
    <%- include ../svg/circle.ejs %>
  </button>

  <button class="tool" data-tool="polygon">
    <%- include ../svg/polygon.ejs %>
  </button>

  <button class="tool" data-tool="pen">
    <%- include ../svg/freehand.ejs %>
  </button>

  <button class="tool" data-tool="edit">
    <%- include ../svg/select.ejs %>
  </button>

</nav>

<nav class="asset-tools tool-set">
  <button class="tool" data-tool="instagram">
    <%- include ../svg/instagram.ejs %>
  </button>

  <button class="tool" data-tool="image">
    <%- include ../svg/image.ejs %>
  </button>

  <button class="tool" data-tool="video">
    <%- include ../svg/video.ejs %>
  </button>
</nav>