<nav class="shape-tools">
  <ul class="tool-set">

    <li>
      <button class="tool active" data-tool="rectangle">
        <%- include ../svg/rectangle.ejs %>
      </button>
    </li>

    <li>
      <button class="tool" data-tool="circle">
        <%- include ../svg/circle.ejs %>
      </button>
    </li>

    <li>
      <button class="tool" data-tool="polygon">
        <%- include ../svg/polygon.ejs %>
      </button>
    </li>

    <li><button class="tool" data-tool="pen">
        <%- include ../svg/freehand.ejs %>
      </button>
    </li>

    <li>
      <button class="tool" data-tool="edit">
        <%- include ../svg/select.ejs %>
      </button>
    </li>
  </ul>
</nav>

<nav class="asset-tools">
  <ul class="tool-set">

    <li>
      <button class="tool active" data-tool="instagram">
        <%- include ../svg/instagram.ejs %>
      </button>
    </li>

    <li>
      <button class="tool active" data-tool="image">
        <%- include ../svg/image.ejs %>
      </button>
    </li>

    <li>
      <button class="tool active" data-tool="video">
        <%- include ../svg/video.ejs %>
      </button>
    </li>

  </ul>
</nav>